.calc {
    display: inline-flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    gap: 15px;
    align-items: center;
    background-color: rgb(49, 49, 49);
}

.calc button {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 2px 15px;
    background: rgb(76, 76, 80);
    font-size: 25px;
    border-radius: 10px;
}

.calc b {
    font-size: 26px;
}