<br><br>
<div class="traffic-light">
    <div class="light" [class.red]="state == 0 || state == 1"></div>
    <div class="light" [class.yellow]="state == 1 || state == 3"></div>
    <div class="light" [class.green]="state == 2"></div>
    <button (click)="nextState()">Next</button>

    <div style="flex-direction: row; display: inline-flex;">
        <button (click)="StopState()">1</button>
        <button (click)="NearStopState()">2</button>
        <button (click)="WaitState()">3</button>
        <button (click)="GoState()">4</button>
    </div>
</div>

